.Body {
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 16px 16px;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  max-width: 360px;
}

.ClearButton {
  position: absolute;
  top: 0;
  right: 0;
}

.ClearButton > button {
  background-color: #f33;
  color: #fff;
  border: none;
  outline: none !important;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: large;
  transition: .15s ease-in-out;
}

.CartWrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

.CartItemWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  max-height: 100vh;
}

.EmptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  font-size: 32px;
  font-weight: 700;
}

.CartItemWrapper::-webkit-scrollbar {
  width: 2px;
}

.CartItemWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.CartItemWrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

.CartItemWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.CartUtils {
  bottom: 0;
  left: 0;
  width: 100%;
}

.Separator {
  min-height: 36px;
}

.CartTotalPrice {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 12px;
}

.CartNavigationButton {
  font-weight: bold;
  font-size: larger;
  padding: 8px 0;
  width: 100%;
  background-color: #724cf9;
  color: white;
  border: none;
  outline: none !important;
  box-sizing: border-box;
  transition: 0.1s;
  border-radius: 25px;
}
