.NavLinkDefault {
  color: var(--purple);
  margin: 0 8px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  width: max-content;
}

.NavLinkDefault:hover {
  color: var(--purple);
}

.NavLinkDefault::after {
  content: "";
  background-color: var(--purple);
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transition: 0.2s;
}

.NavLinkDefault:hover::after {
  width: 100%;
}

.NavLinkActive, .NavLinkActive:hover {
  color: var(--blue);
}

.NavLinkActive::after {
  background-color: var(--blue);
  width: 100%;
}

.AuthButton {
  padding: 0;
  color: var(--purple);
  margin: 0 8px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  width: max-content;
  border: 0;
  background-color: unset;
}

.AuthButton::after {
  content: "";
  background-color: var(--purple);
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transition: 0.2s;
}

.AuthButton:hover:after {
  width: 100%;
}

.AuthButton:hover {
  color: var(--purple);
}
