.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #f0f0f0;
  width: 100vw;
  border-radius: 0 0 4px 4px;
}

.NavBarContainer {
  display: flex;
}

.NavLinksHolder {
  display: flex;
}

.NavIcon img {
  width: 80px;
  margin: 8px 0;
}
