.BodyContainer {
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.Title {
  color: #fff;
  font-size: 32px;
  margin: 8px 0;
}

.Subtitle {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  margin: 12px 0;
}

button {
  background-color: #724cf9;
}

.OrderButton {
  color: #fff;
  border: none;
  outline: none!important;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: large;
  transition: .15s ease-in-out;
}
