.PriceText {
  width: max-content;
  width: -moz-max-content;
}

.MenuContainer {
  min-height: 100vh;
}

.PageTitle {
  text-transform: uppercase;
}

.Clearfix {
  background-color: #000000;
  height: 2px;
}
